
@{
    ViewBag.Title = "HtmlHelperExample";
    Layout = null;
}

<h2>HtmlHelperExample</h2>

<style>
    .formatclass {
        font-family:Verdana;
        font-size:large;
        font-weight: normal
    }
</style>

<script>
    function alertfunction()
    {
        alert("You have clicked at " + Date.now())
    }
</script>


@using (Html.BeginForm())
{
    @Html.TextBox("Name", "Enter Name", new {@class="formatclass", @onclick="alertfunction()"})

    <br /><br />

    @Html.DropDownList("Register", "User");


}